body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.primary-button {
  background-color: #61DAFB;
  border: none;
  padding: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 270px;
  margin-block: 10px;
}

.secondary-button {
  background-color: transparent;
  color: #61dafb;
  border: 2px solid #61dafb;
  padding: 10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 7px;
}

.table-container {
  margin-top: 20px;
  width: 80%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #61DAFB;
}

th, td {
  border: 1px solid #495057;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #343a40;
  color: #61dafb;
  border-bottom: 3px solid #61DAFB;
}

tr:nth-child(even) {
  background-color: #343a40;
}

tr:nth-child(odd) {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}