.header {
  font-size: 50px;
  color: white;
}

body {
  font-family: monospace;
  background-color: #101010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.primary-button {
  font-family: monospace;
  background-color: #61DAFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 800;
  margin-block: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: #92e7ff;
}

.secondary-button {
  font-family: monospace;
  background-color: transparent;
  color: #61dafb;
  border: 2px solid #61dafb;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 7px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s;
}

.secondary-button:hover {
  color: #92e7ff;
  border: 2px solid #92e7ff;
}

.primary-input {
  font-family: monospace;
  background-color: transparent;
  border: 2px solid #61DAFB;
  border-radius: 10px;
  font-size: 20px;
  color: #61DAFB;
  padding: 10px 20px;
}

#taskName::placeholder {
  color: gray;
}

.table-container {
  margin-top: 20px;
  width: 80%;
  overflow-x: auto;
}

table {
  width: 700px;
  border: 3px solid #61DAFB;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  background-color: #151515;
  margin-bottom: 10px;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  color: #61dafb;
  border-bottom: 2px solid #202020;
  font-size: 15px;
}

#completed {
  color: gray;
}

.App-link {
  color: #61dafb;
}