.header {
  font-size: 30px;
  color: white;
}

body {
  font-family: monospace;
  background-color: #101010;
  min-height: 100vh;
  color: white;
}

.date-selector {
  border: 2px solid #61DAFB;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.sidebar {
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #101010;
  padding: 10px;
  position: sticky;
  top: 0
}

.primary-button {
  font-family: monospace;
  background-color: #61DAFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 800;
  margin-block: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.primary-button:hover {
  background-color: #92e7ff;
}

.secondary-button {
  font-family: monospace;
  background-color: transparent;
  color: #61dafb;
  border: 2px solid #61dafb;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 7px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s;
}

.secondary-button:hover {
  color: #92e7ff;
  border: 2px solid #92e7ff;
}

.primary-input {
  font-family: monospace;
  background-color: transparent;
  border: 2px solid #61DAFB;
  border-radius: 10px;
  font-size: 20px;
  color: #61DAFB;
  padding: 10px 20px;
}

#taskName::placeholder {
  color: gray;
}


.homepage-table {
  min-width: 100%;
}

.tasks {
  width: 900px;
  border: 3px solid #61DAFB;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  background-color: #151515;
  margin-bottom: 10px;
}

.tasks th, td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

.tasks th {
  color: #61dafb;
  border-bottom: 1px solid #61DAFB;
  font-size: 16px;
}

#completed {
  color: gray;
}

.App-link {
  color: #61dafb;
}